.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 4rem;
}

.btnconnect {
  padding: 2rem;
  font-size: 2rem;
}

.error {
  color: rgb(252, 52, 52);
  font-weight: 600;
}

.warn {
  color: rgb(255, 232, 102);
  font-weight: 600;
}

.section {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background-color: rgb(250, 250, 250);
}

.addr {
  font-size: 0.85rem;
  font-weight: 600;
}

.kind {
  color: rgb(58, 58, 58);
  font-weight: 600;
}

.fixview {
  background-color: rgb(65, 64, 64);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
}

.mintsection {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.mintcontainer {
  padding: 2rem;
  border-radius: 1rem;
  border: 2px solid rgb(59, 59, 59);
  width: 300px;
  min-width: fit-content;
}
